* {
    box-sizing:border-box;
    outline-style:none;
    font-family:sans-serif;
  }
.error-text {
    font-size:40px;
    color:crimson;
    margin-left:15px;
    margin-top:110px;
}
html {
    scroll-behavior:smooth;
  }
.pers {
    font-weight:600;
    transition:all 1s ease;
}
.pers:hover {
    color:#000;
}
.menu {
    font-size:22px;
    margin-left:120px;
}
@media screen and (max-width:991px) {
    .menu {
        margin-left:0;
    }
}

nav {
  background-color: #D07088 !important;
}

.scrolling-navbar {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.logo_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 0;
    border: 3px solid #ffc0cb;
}

.link {
    font-family: "Roboto", sans-serif !important;
}

.direction {
    transition:all 0.7s ease;
}
.direction:hover {
    padding:16px 21px;
    border-radius:10px;
    background-color:rgb(4, 184, 4);
}

.circle:hover {
    background-color:rgb(4, 142, 167);
}

.intro_link {
    color:#fff;
}

.title_div {
    padding:70px 0;
    background-color:#fff;
}

.title {
    color: #D05870;
    font-family: serif;
    text-align:center;
    text-decoration:underline;
    font-weight:600;
    letter-spacing:8px;
}

.title:hover {
    color:rgb(4, 142, 167);
}

.about_content {
    padding:25px 0;
    margin-bottom:50px;
}

.about_title {
    text-align:center;
    margin-bottom:55px;
    margin-top:40px;
    margin-right: 70px;
}

.scroll {
    overflow:scroll;
    width:350px;
    height:350px;
}

.about_text {
    font-family: "Roboto", sans-serif;
    color:rgb(4, 184, 4);
    font-size:19px;
    text-align:left;
}

.photo_div {
    position:relative;
    padding:70px 0;
}

.photo {
    width:250px;
    height:250px;
    border:1px solid #000;
    border-radius:50%;
    margin-left:60px;
    margin-top:54px;
    position:relative;
    cursor:pointer;
}

.content {
    margin-bottom:50px;
}

.photo-1 {
    width:100%;
    height:100%;
    border-radius:50%;
}

.web-menu {
    display:flex;
    position:absolute;
    left:-32px;
}

.web-page {
    width:35px;
    height:35px;
    border-radius:50%;
    opacity:1;
    transition:opacity 1s ease;
}

.web-page:hover {
    opacity:0.3;
}

.web-page:active {
    opacity:1;
}

.site {
    margin-left:20px;
}

.image3 {
    width:100%;
    height:100%;
    border-radius:50%;
}

.site2 {
    opacity:1;
}

/*.linkedin {*/
/*    width:45px;*/
/*    height:45px;*/
/*    margin-top:-5px;*/
/*}*/

.github {
    width:35px;
    height:35px;
    margin-left:0;
}

.instagram {
    margin-top: -2px;
    margin-left:20px;
    width:39px;
    height:39px;
}

.no-line {
    text-decoration:none;
    margin-bottom:15px;
}

.last-p {
    margin-bottom:30px;
}

.mail_link {
    color:rgb(4, 142, 167);
    text-decoration:none;
    transition:all 1s ease;
}

.mail_link:hover {
    color:rgb(4, 142, 167);
    text-decoration:underline;
}

.clock {
    color:#D07088;
    font-size:40px;
    margin-left:15px;
    margin-top:95px;
}

.title2 {
    margin-left:45%;
    z-index:3;
}

@media screen and (max-width:1199px) {
    .col-xl{
        margin-left:35% !important;
    }
    .about_title {
        text-align:left;
    }
    .photo {
        margin-left:10px;
    }
    .clock {
        margin-top:26px;
    }
    .title2 {
        margin-left:40%;
    }
}
@media screen and (max-width:768px) {
    .col-xl{
        margin-left:30% !important;
    }
    .about_title {
        text-align:left;
        margin-right: 0;
    }
    .photo {
        margin-left:10px;
    }
    .clock {
        margin-top:26px;
    }
}
@media screen and (max-width:650px) {
    .col-xl{
        margin-left:25% !important;
    }
    .about_title {
        text-align:left;
    }
    .photo {
        margin-left:10px;
    }
    .clock {
        margin-top:26px;
    }
    .title2 {
        margin-left:30%;
    }
}
@media screen and (max-width:650px) {
    .col-xl{
        margin-left:3% !important;
    }
    .about_title {
        text-align:left;
    }
    .photo {
        margin-left:10px;
    }
    .clock {
        margin-top:26px;
    }
}
#about {
    display:none;
    background-image: url('Images/moodboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:50px;
}
.buttonscroll {
	display:none;
	position:fixed;
	right:30px;
	bottom:35px;
    outline-style:none;
    color:rgb(235, 129, 8);
	z-index:2;
	cursor:pointer;
    font-weight:700;
    border-radius:50%;
	animation-name:loud;
    animation-duration:3s;
}
.buttonscroll:hover {
    color:yellow;
}
@keyframes loud {
	from {opacity:0.3;}
	to {opacity:1;}
}
.modal_div {
	position:fixed;
	height:100%;
	width:100%;
	left:0;
	top:0;
	bottom:0;
  	background-color:rgba(0,0,0,0.85);
	overflow:auto;
	padding-top:50px; 
	animation-name:fromLittleToBig;
	animation-duration:0.7s;
    z-index:5;
    display:none;
}
@keyframes fromLittleToBig {
	from {transform:scale(0);}
	to {transform:scale(1);}
}
.photo-2 {
	margin:80px auto;
	width:40%;
	height:85%;
    transition:all 1s ease;
    background-image:url("Images/logo2.png");
    background-repeat:no-repeat;
    background-size:cover;
    display:none;
}
.photo-2:hover {
	border-radius:70px;
}
.close {
	position:absolute !important;
	top:90px !important;
	right:30px !important;
	color:#FFFFFF !important;
	font-size:50px !important;
	transition:all 1s ease !important;
	cursor:pointer !important;
    margin-top: 30px;
}
.close:hover {
	opacity:0.6;
	color:#FFFFFF;
}
.close:focus {
	opacity:0.6;
	color:#FFFFFF;
}
body {
    animation-name:cssanim;
    animation-direction:normal;
    animation-duration:25s;
    animation-iteration-count:infinite;
  }
@keyframes cssanim {
    0% {background-color:rgba(109, 245, 161, 0.6);}
    25% {background-color:rgba(46, 240, 240, 0.6);}
    50% {background-color:rgba(247, 154, 48, 0.6);}
    75% {background-color:rgba(14, 243, 136, 0.6);}
    100% {background-color:rgba(160, 6, 6, 0.6);}
}
#skills {
    display:none;
}
.skills_div {
    padding:60px;
    position:relative;
    background-color:#fff;
}
.skills_div2 {
    padding:60px 40px;
}
.skills_content {
    background-color:rgb(4, 184, 4);
    position:relative;
    z-index:1;
}
.skills_content::before {
    content:"";
    position:absolute;
    height:0;
    width:100%;
    left:0;
    right:0;
    top:50%;
    bottom:50%;
    transition:all 1.2s ease;
    background-color:rgb(5,156,243);
    z-index:0;
}
.skills_content:hover::before {
    top:0;
    height:100%;
}
.skills_text {
    color:#fff;
    font-size:18px;
    transition:color 1s ease;
}
.skills_text:hover {
    color:#000;
}
.anim_img {
	position:absolute;
	left:4%;
	top:20%;
	height:50%;
	width:100px;
	cursor:pointer;
	animation-name:animation-logo;
	animation-direction:normal;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-play-state:running;
}
@keyframes animation-logo {
	0% {transform:rotateZ(0deg);position:absolute;left:4%;top:20%;}
	25% {transform:rotateZ(45deg);position:absolute;left:30%;top:20%;}
	50% {transform:rotateZ(135deg);position:absolute;left:50%;top:20%;}
	75% {transform:rotateZ(225deg);position:absolute;left:70%;top:20%;}
	100% {transform:rotateZ(270deg);position:absolute;left:90%;top:20%;}
}
.circle:active {
    color:rgb(5,156,243);
}
@media screen and (max-width:580px) {
    .exp_text {
        font-size:17px;
    }
}
.exp_title {
    margin-left:37%;
}
@media screen and (max-width:768px) {
    .exp_title {
        margin-left:25%;
    }
}
@media screen and (max-width:620px) {
    .exp_title {
        margin-left:18%;
    }
}
@media screen and (max-width:550px) {
    .exp_title {
        margin-left:12%;
    }
}
#experience {
    display:none;
}
.last {
    background-color:rgb(4, 184, 4);
    border-top:30px solid #fff;
    width:100%;
    height:100px;
}
.footer_text {
    margin-top: 20px;
    color:#fff;
    text-align:center;
    font-size:20px;
    transition:color 1s ease;
}
.footer_text:hover {
    color:#CA586A;
}
.same {
    color:#fff;
    display:inline-block;
    cursor:pointer;
    margin-top:15px;
}
.cv_text {
    font-size:20px;
    text-align:center;
    margin-left:18px;
}
.cv_icon {
    margin-left:10px;
}
.cv_div {
    width:150px;
    margin:25px auto;
    border:2px solid #fff;
    border-radius:15px;
    transition:all 1.2s ease;
}
.cv_div:hover {
    border:none;
}
#portfolio {
    display:none;
    margin-bottom:55px;
}
.example {
    width:400px;
    height:400px;
    cursor:pointer;
    transition:all 1s ease;
}
.portfolioTitle {
    margin-left:42%;
}
@media screen and (max-width:1024px) {
    .example {
        width:300px;
        height:300px;
    }
    .photo-2 {
        margin-top:200px;
    }
}
@media screen and (max-width:900px) {
    .portfolioTitle {
        margin-left:37%;
    }

}
@media screen and (max-width:790px) {
    .example {
        width:250px;
        height:250px;
    }
}
@media screen and (max-width:768px) {
    .portfolioTitle {
        margin-left:32%;
    }
    .photo-2 {
        margin-top:25%;
        width:70%;
        height:80%;
    }
    .anim_img {
        display:none;
    }
}
@media screen and (max-width:767px) {
    .example {
        width:500px;
        height:500px;
    }
}
@media screen and (max-width:650px) {
    .portfolioTitle {
        margin-left:26%;
    }
}
@media screen and (max-width:600px) {
    .photo-2 {
        margin-top:40%;
        width:80%;
    }
}
@media screen and (max-width:570px) {
    .portfolioTitle {
        margin-left:22%;
    }
}
@media screen and (max-width:550px) {
    .example {
        width:400px;
        height:400px;
    }
}
@media screen and (max-width:530px) {
    .photo-2 {
        margin-top:30%;
        width:90%;
    }
}
@media screen and (max-width:500px) {
    .portfolioTitle {
        margin-left:18%;
    }
    .photo-2 {
        margin-top:30%;
        width:90%;
    }
}
.date {
    color:#fff;
    transition:color 0.8s ease;
}
.date:hover {
    color:#000;
}
.margins {
    margin-top:25%;
}
.children_pic {
    width:100%;
    height:100%;
    display:flex;
    transition:all 1s ease;
}
.example:hover {
    border-radius:50%;
}
.example:hover .children_pic {
    border-radius:50%;
}
#map {
    margin:60px 0;
    max-width:100%;
}
.wrapper {
    width:100%;
}

iframe {
    width: 100%;
    height: 425px;
}

@media screen and (max-width:414px) {
    .exp_text {
        font-size:14px;
        margin-left:0;
    }
    .example {
        width:350px;
        height:350px;
    }
    .photo-2 {
        margin-top:40%;
    }
    .exp_title {
        margin-left:0;
    }
    .portfolioTitle {
        margin-left:10%;
    }
    .title2 {
        margin-left:60px;
    }
}
@media screen and (max-width:375px) {
    .exp_text {
        font-size:12px;
        margin-left:0;
    }
    .example {
        width:350px;
        height:350px;
    }
    .photo-2 {
        margin-top:40%;
    }
    .exp_title {
        margin-left:-11px;
    }
    .portfolioTitle {
        margin-left:10%;
    }
    .title2 {
        margin-left:60px;
    }
}
@media screen and (max-width:360px) {
    .exp_text {
        font-size:12px;
        margin-left:0;
    }
    .example {
        width:320px;
        height:320px;
    }
    .photo-2 {
        margin-top:40%;
    }
    .exp_title {
        margin-left:-11px;
    }
    .portfolioTitle {
        margin-left:5%;
    }
    .title2 {
        margin-left:35px;
    }
}
@media screen and (max-width:320px) {
    .exp_text {
        font-size:11px;
        margin-left:0;
    }
    .example {
        width:285px;
        height:285px;
    }
    .photo-2 {
        margin-top:40%;
    }
    .exp_title {
        margin-left:-45px;
    }
    .portfolioTitle {
        margin-left:-9%;
    }
    .title2 {
        margin-left:25px;
    }
    .about_text {
        font-size:15px;
        text-align:left;
    }
    .scroll {
        margin-left:-25px;
    }
    .date {
        font-size:18px;
    }
}
@media screen and (max-width:1090px) {
    .forMedia {
        font-size:15px;
    }
}
@media screen and (max-width:991px) {
    .forMedia {
        font-size:19px;
    }
}
.logo-container {
    width:100%;
    padding:70px 0;
    display:flex;
    align-items:stretch;
    flex-direction:column;
    position:relative;
}
.logos {
    width:100%;
    padding:10px 0;
    margin-left:0;
    margin-bottom:60px;
    display:flex;
    flex-direction:row;
}
.logos2 {
    margin-bottom:0 !important;
}
.logoIcon {
    position:relative;
    height:180px;
    width:20%;
    margin-left:10%;
}
.logo2 {
    margin-left:20%;
}
.logo-Img {
    height:100%;
    width:100%;
    cursor:pointer;
}
@media screen and (max-width:650px) {
    .logos {
        flex-direction:column;
        margin-bottom:60px;
    }
    .logos2 {
        margin-bottom:0 !important;
    }
    .logoIcon {
        margin-left:20%;
        width:60%;
        margin-bottom:50px;
    }
}
